.menu-services {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 187px;
    background: white;
    // z-index: 5;
    height: 100vh;
    display: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.01em;

    
    ul {
        li:first-child {
            font-weight: 400;
            font-size: 30px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #000000;
            max-width: 300px;
            margin-bottom: 12px;
        }
        li {
            a {
                color: #000000;
            }
        }
    }
}