.consultation {
    padding-top: 80px;
    padding-bottom: 54px;
    border-bottom: 1px solid #454545;
    max-width: 1290px;
    margin: 0 auto;
    .subtitle {
        margin-bottom: 43px;
    }
    .form__placeholder-container {
        margin-bottom: 7px;
    }
}