a[href="#enroll"],
a[href="#consultation"] {
    display: block;
    font-weight: 550;
    font-size: 17px;
    color: #FFFFFF;
    padding-top: 16.5px;
    padding-bottom: 27.5px;
    padding-left: 28.5px;
    padding-right: 66.5px;
    background: $button-bg;
    @include transit();
    .icon-arrow-right-shot {
        width: 20px;
        margin-left: 26.5px;
    }
    &:hover {
        .icon-arrow-right-shot {
            animation-name: hvr-icon-wobble-horizontal1;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
        .icon-arrow-right-long {
            animation-name: hvr-icon-wobble-horizontal;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
    }
}
a[href="#consultation"] {
    font-size: 16px;
    padding: 17.5px 55px 18.5px 29px;
    position: relative;
    width: auto;
    text-align: left;
    margin-right: 33px;
    @media (min-width: 576px) {
        max-width: 320px;
        margin: 0 auto;
        width: auto;
    }
    @media (min-width: 992px) {
        width: fit-content;
        margin: 0;
        max-width: unset;
        font-size: 18px;    
        padding: 24.5px 120px 24.5px 42.5px;
    }
    .icon-arrow-right-long {
        width: 87px;
        position: absolute;
        right: -37px;
        top: 50%;
        transform: translateY(-50%);
        @media (min-width: 992px) {}

        // transform: translateX(75px);
    }
}
@keyframes hvr-icon-wobble-horizontal1 {
    16.65% {
        transform: translateX(6px);
    }
    33.3% {
        transform: translateX(-5px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        transform: translateX(6px) translateY(-50%);
    }
    33.3% {
        transform: translateX(-5px) translateY(-50%);
    }
    49.95% {
        transform: translateX(4px) translateY(-50%);
    }
    66.6% {
        transform: translateX(-2px) translateY(-50%);
    }
    83.25% {
        transform: translateX(1px) translateY(-50%);
    }
    100% {
        transform: translateX(0) translateY(-50%);
    }
}

.circle-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #E2E2E2;
    border-radius: 800px;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='8' viewBox='0 0 19 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}