.menu
    .container
        a(href="#header").d-lg-none.d-block
            +icon('up')
        .row 
            .col-lg-3.col-12
                ul.menu__list.mb-lg-40 
                    li.menu__item-title Клиника
                        <svg class="d-lg-none d-block" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
                        </svg>

                        ul.menu__list-subtitle.d-lg-block.d-none 
                            li.menu__subtitle-item 
                                a(href="#") О нас
                            li.menu__subtitle-item 
                                a(href="#") Лицензи
                            li.menu__subtitle-item 
                                a(href="#") Видеогалерея
                            li.menu__subtitle-item 
                                a(href="#") Ваканси
                            li.menu__subtitle-item 
                                a(href="#") Магазин косметики
                ul.menu__list 
                    li.menu__item-title Для пациентов
                        <svg class="d-lg-none d-block" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
                        </svg>
                        ul.menu__list-subtitle.d-lg-block.d-none  
                            li.menu__subtitle-item 
                                a(href="#") Цены на услуги
                            li.menu__subtitle-item 
                                a(href="#") Подарочный сертификат
                            li.menu__subtitle-item 
                                a(href="#") Контроль качества
                            li.menu__subtitle-item 
                                a(href="#") Рассрочка 0%
                            li.menu__subtitle-item 
                                a(href="#") Налоговый вычет
                            li.menu__subtitle-item 
                                a(href="#") Вопросы пациентов
                            li.menu__subtitle-item 
                                a(href="#") Отзывы
            .col-lg-3.col-12
                ul.menu__list 
                    li.menu__item-title Основные услуги
                        <svg class="d-lg-none d-block" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
                        </svg>
                        ul.menu__list-subtitle.d-lg-block.d-none.col-12  
                            li.menu__subtitle-item 
                                a(href="#") Аппаратная косметология
                            li.menu__subtitle-item 
                                a(href="#") Лазерные методики
                            li.menu__subtitle-item 
                                a(href="#") Инъекционные методики
                            li.menu__subtitle-item 
                                a(href="#") Нитевой лифтинг
                            li.menu__subtitle-item 
                                a(href="#") Коррекция фигуры
                            li.menu__subtitle-item 
                                a(href="#") Трихология
                            li.menu__subtitle-item 
                                a(href="#") Эстетическая косметология
                            li.menu__subtitle-item 
                                a(href="#") Биожени
                            li.menu__subtitle-item 
                                a(href="#") Isoderm
                            li.menu__subtitle-item 
                                a(href="#") Аппаратная подтяжка лица
                            li.menu__subtitle-item 
                                a(href="#") Микродермабразия
                            li.menu__subtitle-item 
                                a(href="#") Микротоковая терапия для лица
            .col-lg-3.col-12
                ul.menu__list-subtitle.mt-40.d-lg-block.d-none 
                    li.menu__subtitle-item 
                        a(href="#") Биоревитализация
                    li.menu__subtitle-item 
                        a(href="#") Контурная пластика 
                    li.menu__subtitle-item 
                        a(href="#") Sculptra (Скульптра)
                    li.menu__subtitle-item 
                        a(href="#") Элланс
                    li.menu__subtitle-item 
                        a(href="#") Гиалуронопластика
                    li.menu__subtitle-item 
                        a(href="#") Perfoskin Complex 
                    li.menu__subtitle-item 
                        a(href="#") Xela Rederm
                    li.menu__subtitle-item 
                        a(href="#") Биоревитализация HYALUFOR
            .col-lg-3.col-12
                ul.menu__list 
                    li.menu__item-title Самое актуальное
                        <svg class="d-lg-none d-block" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
                        </svg>
                        ul.menu__list-subtitle.d-lg-block.d-none  
                            li.menu__subtitle-item 
                                a(href="#") Коллаген Nithya (Нития)
                            li.menu__subtitle-item 
                                a(href="#") Мезотерапия
                            li.menu__subtitle-item 
                                a(href="#") Профайло (Profhilo)
                            li.menu__subtitle-item 
                                a(href="#") Рестилайн (Restylane)
                            li.menu__subtitle-item 
                                a(href="#") Перлайн (Perline)
                            li.menu__subtitle-item 
                                a(href="#") Ювидерм (Juvederm)
                            li.menu__subtitle-item 
                                a(href="#") Ювидерм Ультра 3 
                            li.menu__subtitle-item 
                                a(href="#") Ювидерм Волифт (Juviderm Volift)
                            li.menu__subtitle-item 
                                a(href="#") Теосиаль (Teosyal)
                            li.menu__subtitle-item 
                                a(href="#") Neauvia Organic
                            li.menu__subtitle-item 
                                a(href="#") Neauvia Organic (мужская линия)
                            li.menu__subtitle-item 
                                a(href="#") Биоревитализация Neauvia Organic Hydro Deluxe