.equipment {
    padding-bottom: 33px;
    padding-top: 77px;
    overflow-x: hidden;
    @media(min-width: 768px) {
        padding-bottom: 63px;
    }
    .how__decor {
        bottom: -15%;
    }
}