.welcome {
    min-height: calc(100vh - 146px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0;
    .container {
        .welcome__content {
            max-width: 675px;
            width: 100%;
            text-align: center;
            @media (min-width: 992px) {
                text-align: left;
            }
            h1 {
                font-size: 33px;    
                font-weight: 400;
                line-height: 105%;               
                color: #FFFFFF;
                margin: 0;
                text-align: center;
                span {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 8px;
                        left: 6px;
                        top: 6px;
                        height: 2px;
                        background: #fff;
                        transform: rotate(-46.99deg);
                    }
                    @media (min-width: 768px) {
                        &::after {
                            width: 18px;
                            left: 22px;
                            top: 20px;
                            height: 6px;
                        }
                    }
                }
                @media (min-width: 768px) {
                    font-size: 100px;    
                    text-align: left;
                }
            }
            p {
                font-weight: 400;
                @include responsive-tlt(16px, 22px);
                line-height: 130%;
                color: #FFFFFF;
                margin: 0;
                margin-top: 29px;
                margin-bottom: 49px;
                text-align: center;
                @media (min-width: 992px) {
                    font-size: 22px;
                    text-align: left;
                }
            }
        }
    }
}
