.card.card_allbtn 
    a(href="#")
        p Показать все услуги
        .circle-btn
            <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
            </svg>
