@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
.card {
    a {
        @media (max-width: 768px) {
            display: flex;  
            width: 100%;  
        }
        
    }
    @include transit();
    &:hover {
        p {
            font-weight: 550;
            font-size: 16px;
            @media (min-width: 768px) {
                font-size: 22px;
            }
        }
        img {
            animation: flash 1.5s;
        }
        .circle-btn {
            background: #D1A788;
            svg {
                fill: #fff;
            }
        }
    }
    .image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        width: 100%;
        letter-spacing: 0.01em;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 768px) {
            font-size: 22px;
        }
        p {
            margin: 0;
            width: min-content;
            @media (min-width: 768px) {
                max-width: 220px;
                width: 100%;    
            }
            
        }
        @media (min-width: 768px) {
            margin-top: auto;    
            font-size: 22px;
        }
    }
}
.card_allbtn {
    border: 1px solid #B7B7B7;
    a {
        height: 100%;
        margin: auto;
        display: flex;
        cursor: pointer;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 21px 12px 31px;
        @media (min-width: 768px) {
            justify-content: center;
            flex-direction: column;
        }
        p {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 0;
            
            @media (min-width: 768px) {
                margin-bottom: 16px;
                font-size: 22px;
            }
        }
        .circle-btn {
            
            margin-right: 0;
            transform: rotate(90deg);
            @media (min-width: 768px) {
                margin-top: 0;    
            }
        }
    }
}

.card.card__slide {
    &:hover {
        .text {
            p {
                span {
                    color: #D28EB7;
                }
            }
        }
        .image {
            .proposal {
                &._new {
                    background: #DCB598;
                }
                &._price {
                    background: #D28EB7;
                }
            }
        }
    }
    a {
        height: fit-content;
        flex-direction: column;
        .image {
            position: relative;
            height: 209px;
            margin-bottom: 26px;
            @media (min-width: 992px) {
                height: 275px;
            }
            .proposal {
                position: absolute;
                top: 24px;
                right: 31px;
                background: #DCB598;
                border-radius: 50%;
                height: 60px;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                @include transit();
                @media (min-width: 992px) {
                    top: 32px;
                    right: 42px;
                    height: 79px;
                    font-size: 24px;
                }
                &._new {
                    width: 60px;
                    background: #D28EB7;
                    @media (min-width: 992px) {
                        width: 79px;
                    }
                }
                &._price {
                    padding: 0 14px;
                    background: #DCB598;
                    border-radius: 50px;
                }
            }
        }
        .text {
            p {
                width: 100%;
                max-width: 100%;
                span {
                    @include transit();
                    display: block;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 130%;
                    letter-spacing: 0.01em;
                    color: #999999;
                    margin-bottom: 12px;
                }
            }
            .circle-btn {
                margin-top: 30px;
            }
        }
            
    }
}

.card-feedback {
    padding: 39px 28px 48px 27px;
    height: 100%;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        padding: 33px 30px 30px 59px;
    }
    .circle-btn {
        @include transit();
    }
    .num {
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 22px;
    }
    & > p {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #000000;
    }
    blockquote {
        padding-left: 44px;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #000000;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.65 17.4965V10.3398H16.8284C16.9674 7.28256 17.5928 4.85066 20.65 3.53049V0.195312C15.0914 1.79342 13.1459 6.51824 13.1459 11.8684V17.4965H20.65ZM8.00414 17.4965V10.3398H4.18259C4.32155 7.28256 4.9469 4.85066 8.00414 3.53049V0.195312C2.44552 1.79342 0.5 6.51824 0.5 11.8684V17.4965H8.00414Z' fill='black'/%3E%3C/svg%3E%0A");
            width: 20px;
            height: 17px;
        }
    }
    & > a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        @include transit();
        &:hover {
            p {
                color: #000;
            }
            .circle-btn {
                transform: translateX(10px);
                background: #DCB598;
                svg {
                    fill: #fff;
                }    
            }
            
        }
        & > p {
            margin: 0;
            max-width: 140px;
            font-weight: 300;
            font-size: 13px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #999999;
        }
    }
}
.card-feedback_bg {
    background: #DCB598;
    .circle-btn {
        @include transit();
        &:hover {
            transform: translateX(10px);
        }
        svg {
            fill: white;
        }
    }
    a {
        width: fit-content;
    }
}
.card-feedback__top {
    margin-bottom: 22px;
    display: flex;
    img:nth-child(2){
        transform: translateX(-15px);
    }
    img:nth-child(3){
        transform: translateX(-30px);
    }
    img:nth-child(4){
        transform: translateX(-45px);
    }
}