.actual-action__slider 
    ul.actual-action__wrapper.swiper-wrapper
        li.swiper-slide.col-xl-4.col-md-6.col-12
            include ../card/card-slide
        li.swiper-slide.col-xl-4.col-md-6.col-12
            include ../card/card-slide
        li.swiper-slide.col-xl-4.col-md-6.col-12
            include ../card/card-slide
        li.swiper-slide.col-xl-4.col-md-6.col-12
            include ../card/card-slide
        li.swiper-slide.col-xl-4.col-md-6.col-12
            include ../card/card-slide
