include ../../components/card/card-feedback
include ../slider-navigation/slider-navigation

.feedback__slider 
    ul.feedback__slider__wrapper.swiper-wrapper
        li.swiper-slide.col-xl-4.col-md-6.col-12
            +card-feedback('Ирина, Санкт-Петербург', 'Это, мнение о ком-нибудь или о чем-нибудь, анализ, разбор, оценка продукта или оказанной услуги ...')
        li.swiper-slide.col-xl-4.col-md-6.col-12
            +card-feedback('Стефания, Санкт-Петербург', 'Предметом рецензии выступают информационные явления — книги, брошюры, спектакли, кинофильмы, телепередачи, игры? профессиональные  ...')
        li.swiper-slide.col-xl-4.col-md-6.col-12
            +card-feedback('Оксана, Санкт-Петербург', 'Тертычный говорит об аналитических жанрах следующее: «Одной из наиболее примечательных черт отечественных ...')
        li.swiper-slide.col-xl-4.col-md-6.col-12
            +card-feedback-all()
    +slider-navigation('feedback')
