.feedback {
    @media(min-width: 768px) {
        padding-bottom: 66px;
    }
    overflow: hidden;
}
.feedback__slider,
.feedback__slider1 {
    ul {
        display: flex;
        min-height: 344px;
    }
}