.basic-services__list
    .row 
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card  
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card
        .col-xl-3.col-lg-4.col-md-6
            include ../card/card-all
