include ../card/card-all

.row.certificates__list 
    .col-3.certificates__item 
        img(src="./images/certificates/certificat1.png" alt='Сертификаты')
    .col-3.certificates__item 
        img(src="./images/certificates/certificat2.png" alt='Сертификаты')
    .col-3.certificates__item 
        img(src="./images/certificates/certificat3.png" alt='Сертификаты')
    .col-3.certificates__item.p-0
        +card-all('Смотреть все<br>сертификаты')