mixin slider-navigation(cl)
    -
        var cl = cl || '';

    .slider-nav&attributes(attributes)
        div(class=`slider-nav__btn slider-nav__btn_prev slider-nav-${cl}__prev-btn-js`)
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
            </svg>


        div(class=`slider-nav__btn slider-nav__btn_next slider-nav-${cl}__next-btn-js`)
            <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.38383 4.26713C4.57909 4.07187 4.57909 3.75528 4.38383 3.56002L1.20185 0.37804C1.00658 0.182778 0.690002 0.182778 0.49474 0.37804C0.299477 0.573303 0.299477 0.889885 0.49474 1.08515L3.32317 3.91357L0.49474 6.742C0.299477 6.93726 0.299477 7.25385 0.49474 7.44911C0.690002 7.64437 1.00658 7.64437 1.20185 7.44911L4.38383 4.26713ZM3.03027 4.41357H4.03027V3.41357H3.03027V4.41357Z"/>
            </svg>
