extends base/pug/base
include ./components/slider-navigation/slider-navigation
include ./components/card/card-feedback

append variables
    - var title = 'Услуга'
    - var pageClass = 'detail'
    - var menuHref = '/'
block detail 
    article.detail 
        .container 
            h1.title Комбинированная лазеротерапия
            .detail__header 
                .row
                    .col-lg-5.col-12.mx-auto
                        .detail__header-img
                            img(src="./images/detail/photo1.jpg" alt="Картинка")
                    .col-lg-7
                        .row
                            .col-xl-7.col-12
                                .detail__header-info 
                                    p Длительность процедуры:
                                        span 60 минут
                                        +icon('time')
                                    p Количество процедур:
                                        span 3-5
                                        +icon('count')
                                    p Период восстановления:
                                        span нет
                                        +icon('period')
                                    p Оборудование для процедуры:
                                        span Honkon QQ+ (IPL+RF)
                                        +icon('info')
                            .col-xl-5.col-12
                                .detail__header-price.p-30
                                    p от <strong>60 000р.</strong>
                                        span запишитесь на прием в один клик
                                    form(action='#').form
                                        .form__placeholder-container
                                            input(type="tel" placeholder=" " required)#phone-mini
                                            label Номер телефона
                                            +icon('flag')
                                        .form__button-container.mt-10
                                            button(type="submit") Записаться
                                                +icon('arrow-right-long')
                                        p.mt-20 Наш менеджер перезвонит в самое ближайшее время
            .detail__content 
                .row 
                    .col-lg-2.d-lg-block.d-none
                        .detail__menu
                            a(href="#usluga") Услуга
                            a(href="#doposle") До/после
                            a(href="#price") Цены
                            a(href="#action") Акции
                            a(href="#feedback") Отзывы
                            a(href="#doctor") Врачи
                    .col 
                        .detail__text 
                            strong Физиотерапевтические методики: массаж (включая ручной и аппаратный), лазерная терапия, фототерапия, прессотерапия, электропорация, магнитотерапия
                            | Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные методы.
                        .detail__opinion.d-flex.mt-40
                            .detail__opinion-left
                                figure
                                    img(src="./images/detail/photo2.png" alt='')
                                    figcaption Елена Савина
                                        span Косметоло высшей категории
                            .detail__opinion-right
                                h3 Мнение врача:
                                strong Лазерная терапия, фототерапия, прессотерапия, электропорация, магнитотерапия
                                | Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные методы.
                                a(href="#").how__btn
                                    p Получить консультацию
                                    <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                    </svg>
                        ul.detail__tabs-list 
                            li.detail__tabs-item Как проходит услуга
                                .detail__tabs-content
                                    .d-lg-flex
                                        .detail__how-left
                                            img(src='./images/detail/photo3.jpg' alt='Видео')
                                        .detail__how-right
                                            p
                                                strong Первый этап действия ботулинического токсина — специфическое связывание молекулы с пресинаптической мембраной 
                                            p При внутримышечном введении развивается 2 эффекта: ингибирование экстрафузальных мышечных волокон, посредством ингибирования нервных окончаний альфа-мотонейронов на уровне нервно-мышечного синапса, и ингибирование активности мышечных веретён
                                            p Это приводит к снижению активности мышечных рецепторов растяжения и эфферентной активности <br>
                                            p При внутриклеточной инъекции в области локализации потовых желез (подмышечные впадины, ладони, стопы) развивается блокада 
                                                span Совокупность решения эстетических проблем хирургическим путём.

                            li.detail__tabs-item Как работает услуга
                                .detail__tabs-content
                                    p 
                                        strong В лазере Fraxel re:store DUAL сочетаются 2 лазера в одном: тулиевый лазер с длиной волны 1927 нм и классический эрбиевый оптоволоконный лазер 1550 нм. 
                                    ul 
                                        li засчет фракционного принципа воздействия (не сплошного, а точечного), метод менее травматичен, чем многие пилинги, лазерная шлифовка, дермабразии;
                                        li восстановление после лазерной терапии занимает от 1 до 3 дней, причем все это время нет необходимости сидеть дома;
                                        li сразу после процедуры, а также весь период восстановления, на кожу можно наносить макияж, чтобы замаскировать покраснение. Большинство пациентов уже на следующий день выглядят так, что никто не поймет, что им была проведена достаточно серьезная процедура;
                            li.detail__tabs-item Что входит в услугу
                                .detail__tabs-content
                                    p 
                                        strong Засчет фракционного принципа воздействия (не сплошного, а точечного), метод менее травматичен, чем многие пилинги, лазерная шлифовка, дермабразии;
                                    ul(style="list-style:none;") 
                                        li 
                                            +icon('li-icon')
                                            | фраксель не разрушает барьерные функции кожи, так что он не может вызвать серьезных осложнений;
                                        li 
                                            +icon('li-icon')
                                            | засчет фракционного принципа воздействия (не сплошного, а точечного), метод менее травматичен, чем многие пилинги, лазерная шлифовка, дермабразии;
                                        li 
                                            +icon('li-icon')
                                            | шлифовку лазером можно проводить на любых участках лица и тела при любом цвете кожи;
                                    p При внутримышечном введении развивается 2 эффекта: ингибирование экстрафузальных мышечных волокон, посредством ингибирования нервных окончаний альфа-мотонейронов на уровне нервно-мышечного синапса, и ингибирование активности мышечных веретё
                            li.detail__tabs-item Показания \ противопоказания
                                .detail__tabs-content
                                    .row 
                                        .col
                                            h4 Показания
                                            ul(style="list-style:none;") 
                                                li 
                                                    +icon('li-icon')
                                                    strong Омоложение (удаление морщин):
                                                    | идеально подходит для людей, которые недовольны эффектом от уходовых процедур (маски, обертывания, физиотерапия), или кому они уже не дают результата. 
                                                li
                                                    +icon('li-icon')
                                                    strong Пигментация: 
                                                    | всем, у кого есть пигментные (солнечные пятна), особенно тем, кто не может убрать их при помощи других методов. 
                                                li
                                                    +icon('li-icon')
                                                    strong Растяжки (стрии): 
                                                    | всем, у кого существует этот неприятный дефект кожи, вне зависимости от причин его появления и от места расположения. 
                                        .col
                                            h4 Противопокозания
                                            ul(style="list-style:none;")
                                                li
                                                    +icon('icon-close')
                                                    | аллергических реакциях на лидокаин
                                                li
                                                    +icon('icon-close')
                                                    | беременности и лактации
                                                li
                                                    +icon('icon-close')
                                                    | псориазе и атопическом дерматите
                                                li
                                                    +icon('icon-close')
                                                    | воспалительных процессах в зоне обработки
                                                li
                                                    +icon('icon-close')
                                                    | острых инфекционных заболеваниях
                        .detail__recommendation
                            h5 Рекомендации после процедуры (Реабилитация)
                            p
                                strong Лазерная терапия, фототерапия, прессотерапия, электропорация, магнитотерапия
                                | Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные методы.
                        .detail__alternative.mt-50.d-xl-flex
                            .detail__alternative-title
                                    p Альтернативные методы данной услуги
                                        span Посредством ингибирования нервных окончаний альфа-мотонейронов на уровне нервно-мышечного синапса
                            .basic-services__list
                                .row 
                                    .col-xl-6.col-lg-4.col-md-6
                                        .card
                                            a(href='#')
                                                .image
                                                    img(src=`./images/uslugi/photo1.jpg` alt="картинка")
                                                .text
                                                    p Аппаратная косметология
                                                    .circle-btn
                                                        <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                                        </svg>
                                    .col-xl-6.col-lg-4.col-md-6
                                        .card
                                            a(href='#')
                                                .image
                                                    img(src=`./images/uslugi/photo2.jpg` alt="картинка")
                                                .text
                                                    p Контурная пластика
                                                    .circle-btn
                                                        <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                                        </svg>
block beforeServies
    section.before-services#doposle
        .container
            h2.title Фото До / После процедуры
            include ./components/before/before
block price 
    section.price#price
        .container 
            h2.title Цены на услугу
            ul.price__list 
                li.price__item.d-flex.align-items-lg-center.justify-content-between
                    .price__title Лазерная шлифовка Фраксель зоны стрии
                    .price__right-container.d-flex.align-items-center.ml-40.justify-content-between
                        .price__time 
                            +icon('time')
                            | 30 минут 
                        .price__cost 14 500р 
                        button#modal 
                            p Записаться
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
                li.price__item.d-flex.align-items-lg-center.justify-content-between
                    .price__title Лазерная шлифовка Фраксель глаз
                    .price__right-container.d-flex.align-items-center.ml-40.justify-content-between
                        .price__time 
                            +icon('time')
                            | 15 минут
                        .price__cost 29 900р 
                        button#modal 
                            p Записаться
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
                li.price__item.d-flex.align-items-lg-center.justify-content-between
                    .price__title Лазерная шлифовка Фраксель лица
                    .price__right-container.d-flex.align-items-center.ml-40.justify-content-between
                        .price__time 
                            +icon('time')
                            | 20 минут 
                        .price__cost 30 000р 
                        button#modal 
                            p Записаться
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
block feedback-question 
    section.feedback-question#feedback.mt-50
        .container 
            .row 
                div(style="position: relative;").col-xl-6.col-12
                    h2.title Отзывы
                    .feedback-question__feedback-container
                        .feedback__slider1 
                            ul.feedback__slider__wrapper.swiper-wrapper
                                li.swiper-slide
                                    +card-feedback('Ирина, Санкт-Петербург', 'Это, мнение о ком-нибудь или о чем-нибудь, анализ, разбор, оценка продукта или оказанной услуги ...')
                                li.swiper-slide
                                    +card-feedback('Стефания, Санкт-Петербург', 'Предметом рецензии выступают информационные явления — книги, брошюры, спектакли, кинофильмы, телепередачи, игры? профессиональные  ...')
                                li.swiper-slide
                                    +card-feedback('Оксана, Санкт-Петербург', 'Тертычный говорит об аналитических жанрах следующее: «Одной из наиболее примечательных черт отечественных ...')
                            +slider-navigation('feedback')
                    .feedback-question__buttons
                        a(href="#").feedback-question__button Все отзывы
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
                        a(href="#").feedback-question__button Оставить свой отзыв
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
                .col-xl-6.col-12.mt-lg-0.mt-50.d-flex.flex-column
                    h2.title Вопросы-ответы
                    ul.question__list.question__list-js
                        li.question__item 
                            p Методики использования наружных косметических?
                                span Виктория Орлова
                            .question__answer-container 
                                | С другой стороны новая модель организационной деятельности играет важную роль в формировании соответствующих условий активизации. Прежде всего консультация с широким активом требует определения и уточнения новых принципов формирования материально-технической и кадровой базы. Равным образом понимание сущности ресурсосберегающих технологий играет важную роль в формировании форм воздействия.
                        li.question__item
                            p Физиотерапевтические методики: массаж
                                span Елена Савина
                            .question__answer-container
                                | Равным образом начало повседневной работы по формированию позиции играет важную роль в формировании дальнейших направлений развития. Для современного мира дальнейшее развитие различных форм деятельности требует от нас анализа новых предложений. Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение представляет собой интересный эксперимент прогресса профессионального общества.
                        li.question__item
                            p При внутримышечном введении развивается
                                span Олеся
                            .question__answer-container
                                | Разнообразный и богатый опыт социально-экономическое развитие проверки влечёт за собой интересный процесс внедрения модернизации новых предложений. С другой стороны курс на социально-ориентированный национальный проект позволяет оценить значение представляет собой интересный эксперимент форм воздействия. Разнообразный и богатый опыт рамки и место обучения кадров играет важную роль в формировании системы массового участия.
                        li.question__item
                            p Массаж (включая ручной и аппаратный)
                                span Виктория Орлова
                            .question__answer-container
                                | Разнообразный и богатый опыт социально-экономическое развитие проверки влечёт за собой интересный процесс внедрения модернизации новых предложений. С другой стороны курс на социально-ориентированный национальный проект позволяет оценить значение представляет собой интересный эксперимент форм воздействия. Разнообразный и богатый опыт рамки и место обучения кадров играет важную роль в формировании системы массового участия.
                    .feedback-question__buttons
                        a(href="#").feedback-question__button Все вопросы
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
                        a(href="#").feedback-question__button Задать вопрос
                            <svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.6868 4.35355C20.8821 4.15829 20.8821 3.84171 20.6868 3.64645L17.5048 0.464466C17.3096 0.269204 16.993 0.269204 16.7977 0.464466C16.6025 0.659728 16.6025 0.976311 16.7977 1.17157L19.6261 4L16.7977 6.82843C16.6025 7.02369 16.6025 7.34027 16.7977 7.53553C16.993 7.7308 17.3096 7.7308 17.5048 7.53553L20.6868 4.35355ZM0.333252 4.5H20.3333V3.5H0.333252V4.5Z"/>
                            </svg>
block actual-action1
    section.actual-action#action
        .container.slider-nav__container
            h2.title Актуальные акции
            include ./components/actual-action/actual-action
block doctors
    section.doctors#doctor.mt-50 
        .container.slider-nav__container
            h2.title Наши врачи
            include ./components/doctors/doctors
block banner 
    include ./components/banner/banner
block recommendation
    section.recommendation
        .container.slider-nav__container
            h2.title Мы рекомендуем процедуры
            .recommendation__slider 
                ul.recommendation__list.swiper-wrapper.d-flex 
                    li.swiper-slide
                        img(src='./images/recommendation/photo1.jpg' alt="Фото")
                        p Пилинг (Ультразвуковая чистка)
                            span Ультразвуковой пилинг и фонофорез: избавление от угрей, темных 
                        a(href="#") от 40 000р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                    li.swiper-slide
                        img(src='./images/recommendation/photo2.jpg' alt="Фото")
                        p Микротоковая терапия Magic Hands
                            span Микротоки для лица – это особый вид физиотерапии, главная цель которого – омолодить кожу при помощи импульсного тока, оказывающего исключительно положительное воздействие.
                        a(href="#") от 18 900р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                    li.swiper-slide
                        img(src='./images/recommendation/photo3.jpg' alt="Фото")
                        p Ретиноевый пилинг CIMEL
                            span Ретиноевый пилинг – это химический пилинг, действие которого достигается благодаря активному компоненту – ретинолу.
                        a(href="#") от 35 500р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                    li.swiper-slide
                        img(src='./images/recommendation/photo4.jpg' alt="Фото")
                        p Пилинг (Ультразвуковая чистка)
                            span Ультразвуковой пилинг и фонофорез: избавление от угрей, темных 
                        a(href="#") от 19 900р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                    li.swiper-slide
                        img(src='./images/recommendation/photo5.jpg' alt="Фото")
                        p Пилинг (Ультразвуковая чистка)
                            span Ультразвуковой пилинг и фонофорез: избавление от угрей, темных 
                        a(href="#") от 40 000р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                    li.swiper-slide
                        img(src='./images/recommendation/photo6.jpg' alt="Фото")
                        p Ультразвуковой пилинг (Ультразвуковая чистка)
                            span Ультразвуковой пилинг и фонофорез: избавление от угрей, темных 
                        a(href="#") от 24 000р.
                            .circle-btn
                                <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                                </svg>
                +slider-navigation('recommendation')
block consultation-detail
    section.consultation#enroll
        .container
            h2.title Бесплатная консультация
            p.subtitle Если возникли вопросы, мы с радостью, и в самые короткие сроки на них ответим!
            form(action='#').form
                .row
                    .form__input-container.col-xl-4.col-md-6.col-12
                        .form__placeholder-container
                            input(type="text" placeholder=" " required)
                            label Ваше имя
                        |  Пожалуйста, представьтесь, как к Вам обращаться
                    .form__input-container.col-xl-4.col-md-6.col-12.mt-md-0.mt-20
                        .form__placeholder-container
                            input(type="tel" placeholder=" " required)#phone
                            label Номер телефона
                            +icon('flag')
                        | Никакой рекламы и спама
                    .form__button-container.col-xl-4.col-12.mt-xl-0.mt-20
                        button(type="submit") Получить консультацию
                            +icon('arrow-right-long')
                        | Отправляя запрос Вы соглашаетесь на обработку персональных данных. Данные не передаются третьим лицам
block menu 
    include ./components/menu/menu