extends base/pug/base
include ./components/slider-navigation/slider-navigation

append variables
    - var title = 'Фото и видео'
    - var pageClass = 'gallery'
    - var menuHref = '/'

block gallery
    section.gallery 
        .container.gallery__container
            h1.title Фото и видео
            .gallery__category.slider-nav__container Лазерная дипиляция
                .gallery__slider0.gallery__slider-js
                    ul.gallery__category-list.swiper-wrapper.gallery__category-list_mobil
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo1.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo2.jpg" alt='photo')
                            img(src="./images/gallery/photo3.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo4.jpg" alt='photo')
                            img(src="./images/gallery/photo5.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo6.jpg" alt='photo')
                            img(src="./images/gallery/photo7.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo2.jpg" alt='photo')
                            img(src="./images/gallery/photo3.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo4.jpg" alt='photo')
                            img(src="./images/gallery/photo5.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo6.jpg" alt='photo')
                            img(src="./images/gallery/photo7.jpg" alt='photo')
                    +slider-navigation('gallery0')
                    button.gallery-button-js.d-lg-none Показать еще больше
                        .circle-btn
                            <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                            </svg>
            .gallery__category.slider-nav__container.mt-50 Эстестическая косметология
                .gallery__slider1.gallery__slider-js
                    ul.gallery__category-list.swiper-wrapper.gallery__category-list_mobil
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo8.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo9.jpg" alt='photo')
                            img(src="./images/gallery/photo10.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo11.jpg" alt='photo')
                            img(src="./images/gallery/photo12.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo13.jpg" alt='photo')
                            img(src="./images/gallery/photo1.jpg" alt='photo')
                        li.gallery__category-item.swiper-slide
                            img(src="./images/gallery/photo13.jpg" alt='photo')
                            img(src="./images/gallery/photo1.jpg" alt='photo')
                    +slider-navigation('gallery1')
                    button.gallery-button-js.d-lg-none Показать еще больше
                        .circle-btn
                            <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0293 4.49229C18.2246 4.29702 18.2246 3.98044 18.0293 3.78518L14.8473 0.603199C14.652 0.407937 14.3355 0.407937 14.1402 0.603199C13.9449 0.798461 13.9449 1.11504 14.1402 1.31031L16.9686 4.13873L14.1402 6.96716C13.9449 7.16242 13.9449 7.479 14.1402 7.67427C14.3355 7.86953 14.652 7.86953 14.8473 7.67427L18.0293 4.49229ZM0.990967 4.63873H17.6757V3.63873H0.990967V4.63873Z"/>
                            </svg>



block consultation
    section.consultation#enroll
        .container
            h2.title Запишитесь на&nbsp;консультацию!
            p.subtitle Если возникли вопросы, мы с радостью, и в самые короткие сроки на них ответим!
            form(action='#').form
                .row
                    .form__input-container.col-xl-4.col-md-6.col-12
                        .form__placeholder-container
                            input(type="text" placeholder=" " required)
                            label Ваше имя
                        |  Пожалуйста, представьтесь, как к Вам обращаться
                    .form__input-container.col-xl-4.col-md-6.col-12.mt-md-0.mt-20
                        .form__placeholder-container
                            input(type="tel" placeholder=" " required)#phone
                            label Номер телефона
                            +icon('flag')
                        | Никакой рекламы и спама
                    .form__button-container.col-xl-4.col-12.mt-xl-0.mt-20
                        button(type="submit") Получить консультацию
                            +icon('arrow-right-long')
                        | Отправляя запрос Вы соглашаетесь на обработку персональных данных. Данные не передаются третьим лицам

block banner 
    include ./components/banner/banner
block menu 
    include ./components/menu/menu