extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome
    section.welcome
        .container
            .welcome__content
                h1 LuA.Clinic косметология для тебя
                p — наука, изучающая эстетические проблемы организма человека, их этиологии, проявления и методы коррекции, также свод методик, направленных
                a(href='#consultation') Консультация
                    +icon('arrow-right-long')
block numbers 
    .numbers 
        .container 
            .row 
                .col-lg-4.col-sm-6.col-12.numbers__container
                    .number__num 12
                    .number__text средний опыт наших врачей
                        span все наши врачи высшей категории
                .col-lg-5.col-sm-6.col-12.numbers__container
                    .number__num 15
                    .number__text мы работаем уже более 20 лет в косметологии
                        span учимся и развиваемся
                .col-lg-3.d-lg-block.d-none.position-relative
                    .number__image
                        +icon('flower')
block basic-services
    section.basic-services 
        .container
            h2.title Основные услуги
            include ./components/basic-services/basic-services
block actual-action
    section.actual-action
        .container.slider-nav__container
            h2.title Актуальные акции
            include ./components/actual-action/actual-action
block consultation
    section.consultation#enroll
        .container
            h2.title Запишитесь на&nbsp;консультацию!
            p.subtitle Если возникли вопросы, мы с радостью, и в самые короткие сроки на них ответим!
            form(action='#').form
                .row
                    .form__input-container.col-xl-4.col-md-6.col-12
                        .form__placeholder-container
                            input(type="text" placeholder=" " required)
                            label Ваше имя
                        |  Пожалуйста, представьтесь, как к Вам обращаться
                    .form__input-container.col-xl-4.col-md-6.col-12.mt-md-0.mt-20
                        .form__placeholder-container
                            input(type="tel" placeholder=" " required)#phone
                            label Номер телефона
                            +icon('flag')
                        | Никакой рекламы и спама
                    .form__button-container.col-xl-4.col-12.mt-xl-0.mt-20
                        button(type="submit") Получить консультацию
                            +icon('arrow-right-long')
                        | Отправляя запрос Вы соглашаетесь на обработку персональных данных. Данные не передаются третьим лицам
block feedback 
    section.feedback
        .container.slider-nav__container 
            h2.title Отзывы клиентов
            include ./components/feedback/feedback
