extends base/pug/base
include ./components/slider-navigation/slider-navigation

append variables
    - var title = 'Текстовая страница'
    - var pageClass = 'page'
    - var menuHref = '/'
block article 
    article.article 
        .container 
            .row
                h1.title.article__title.col-sm.col-10  Терапевтическая косметология содержит в своем арсенале    
                .article__like.col-sm-auto.col-2
                    input(type='checkbox' name="like" id="like")
                    label(for="like") 
                        p 270
            .row.justify-content-between.align-items-center
                .article__date.col-lg-auto.col-12.d-flex.justify-content-between 
                    p 
                        span Опубликовано&nbsp; 
                        | 02.02.2022 18:00
                    p.article__author 
                        img(src='./images/author.png' alt='Автор') 
                        | Виктория Орлова
                .article__hash.col-lg-auto.col-12.d-flex
                    p #косметика
                    p #до\после
                    p #советы доктора
            .article__content
                strong Физиотерапевтические методики: массаж (включая ручной и аппаратный), лазерная терапия, фототерапия, прессотерапия, электропорация, магнитотерапия
                p Хирургическая косметология — это совокупность решения эстетических проблем хирургическим путём. Современные пластические хирурги используют фракционные методы.
                p Физиотерапевтические методики: массаж (включая ручной и аппаратный), лазерная терапия, фототерапия, прессотерапия, электропорация, магнитотерапия, ультразвук, ионофорез, миостимуляция и микротоковая терапия и др.
                h2 Терапевтическая косметология
                p В отличие от косметологии, определенные методы которой может применять средний медицинский персонал, все технологии, относящиеся к эстетической медицине, назначаются и выполняются специалистами с высшим медицинским образованием.
                ul 
                    li Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже.
                p 
                    strong Эстетическая медицина предназначена 
                    | для изменения внешности человека. Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже.                
                ol 
                    li Медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже. 
                p 
                    q Применять средний медицинский персонал, все технологии, относящиеся к эстетической медицине, назначаются и выполняются 
                        cite 
                            img(src='./images/author.png' alt='Автор')
                            | Виктория Орлова
                p Эстетическая медицина активно использует достижения трихологии, подологии, офтальмологии, диетологии и других отраслей науки о человеке, которые позволяют наиболее эффективно решать проблемы коррекции внешности.
                h2 Различные виды электролечения
                p Эстетическая медицина предназначена для изменения внешности человека. Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже. Эстетическая медицина также играет важную роль в лечении целлюлита и ожирения. 
                p Лазерная терапия может быть показана для лечения шрамов, нежелательных волос, изменения цвета кожи и сосудистых звёздочек
                ul 
                    li Медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже. 
                p   
                    strong Медицина предназначена 
                    | для изменения внешности человека. Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже.
                blockquote В отличие от косметологии, определенные методы которой может применять средний медицинский персонал, все технологии, относящиеся к эстетической медицине, назначаются 
                h2 Ботулинотерапия
                p 
                    strong Первый этап действия ботулинического токсина — 
                    | специфическое связывание молекулы с пресинаптической мембраной (процесс занимает 30 минут). Второй этап — интернализация связанного токсина в цитозоль посредством эндоцитоза. 
                p После интернализации легкая цепь действует как цинкзависимая протеаза цитозоля, избирательно расщепляя SNAP-25, что на третьем этапе приводит к блокаде высвобождения ацетилхолина из пресинаптических терминалей холинергических нейронов. Конечным эффектом этого процесса является стойкая хемоденервация.
                img(src='./images/atricle.jpg' alt='Фото')
                p В отличие от косметологии, определенные методы которой может применять средний медицинский персонал, все технологии, относящиеся к эстетической медицине, назначаются и выполняются специалистами с высшим медицинским образованием.
                ul 
                    li Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже. 
                p 
                    span Эстетическая медицина предназначена 
                    | для изменения внешности человека. Показания к эстетической медицине включают множество факторов, например, связанные с минимизацией признаков старения, таких как дряблость кожи, морщины и пятна на коже.
            .row.justify-content-between.align-items-center
                .article__date.col-lg-auto.col-12.d-flex.justify-content-between 
                    p 
                        span Опубликовано&nbsp; 
                        | 02.02.2022 18:00
                    p.article__author 
                        img(src='./images/author.png' alt='Автор') 
                        | Виктория Орлова
                .article__hash.col-lg-auto.col-12.d-flex.ml-auto
                    p #косметика
                    p #до\после
                    p #советы доктора
                .article__like.col-sm-auto.col-2
                    input(type='checkbox' name="like1" id="like1")
                    label(for="like1") 
                        p 270
block read
    section.read.pt-50
        .container.slider-nav__container 
            h2.title Почитайте:
            include ./components/actual-action/read


block consultation
    section.consultation#enroll
        .container
            h2.title Бесплатная консультация!
            p.subtitle Если возникли вопросы, мы с радостью, и в самые короткие сроки на них ответим!
            form(action='#').form
                .row
                    .form__input-container.col-xl-4.col-md-6.col-12
                        .form__placeholder-container
                            input(type="text" placeholder=" " required)
                            label Ваше имя
                        |  Пожалуйста, представьтесь, как к Вам обращаться
                    .form__input-container.col-xl-4.col-md-6.col-12.mt-md-0.mt-20
                        .form__placeholder-container
                            input(type="tel" placeholder=" " required)#phone
                            label Номер телефона
                            +icon('flag')
                        | Никакой рекламы и спама
                    .form__button-container.col-xl-4.col-12.mt-xl-0.mt-20
                        button(type="submit") Получить консультацию
                            +icon('arrow-right-long')
                        | Отправляя запрос Вы соглашаетесь на обработку персональных данных. Данные не передаются третьим лицам
block banner 
    include ./components/banner/banner
block menu 
    include ./components/menu/menu